h1.info {
  font-size: 20px;
}

img {
  width: 170px;
  float: left;
  margin-right: 20px;
}

body {
  background-image: url("../img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

div.boxMove {
  margin-top: 50px;
}

h1.topTitle {
  font-family: Georgia;
  font-style: italic;
}

.container {
  margin-top: 30px;
}

.panel-body ul li {
  line-height: 30px;
}

.fontGit ul li {
  font-size: 20px;
  line-height: 35px;
}

.tabs {
  font-size: 30px;
  margin-bottom: 15px;
}

.nav-item a {
  color: black;
}
