h1.info {
  font-size: 25px;
  font-family: Lucida;
  font-style: italic;
}

img {
  width: 170px;
  float: left;
  margin-right: 20px;
}

body {
  background-image: url("../img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

div.boxMove {
  margin-top: 10px;
}

h1.topTitle {
  font-family: Georgia;
  font-style: italic;
}

.container {
  margin-top: 30px;
}

.panel-body ul li {
  line-height: 30px;
}

.panel-body {
  font-size: 15px;
}

.fontGit ul li {
  line-height: 35px;

}

.tabs {
  margin-bottom: 15px;
  border: solid;
  border-color: #F0F8FF;
  border-width: 3px;
  border-radius: 5px;
  margin-bottom: 40px;
  background-color: 	#E0FFFF;
}


.nav-item a {
  color: black;
  font-size: 39px;
  font-family: Lucida;

}

h1.quote {
  font-size: 20px;
  font-family: Lucida;
}
